

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  background: rgb(236, 236, 250);
  position: relative;
  height: none;
}

.input-control {
  @apply w-full bg-slate-100 box-border py-1.5 px-3 rounded border-transparent border outline-none
}

.social-login-btn {
  @apply w-full py-2 mt-2 bg-white text-base text-black rounded flex justify-center items-center gap-2
}

.task-input{
  @apply w-full  box-border py-1.5 px-3 rounded  border border-slate-300 outline-none
}

.cd:hover {
  border: 1px solid rgb(192, 224, 250);
  box-shadow: 1px 1px 5px 2px rgb(219, 220, 221);
}